@charset "utf-8";


.cafe_details {
  width: 390px;
  margin: 0 auto;
  background: #fff;
}

/* header */
.header_top {
  position: relative;
  width: 100%;
  height: 48px;
  background: #000;
}
.header_top h1 {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 64px;
  height: 15px;
  background: url(../../../public/cafein_logo.svg) no-repeat center/contain;
}
.header_top button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 64px;
  height: 28px;
  background: #333;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-family: 'Pretendard-Medium';
  font-size: 1.2rem;
}

/* section */
section {
  width: 100%;
  height: 390px;
}
.mv_wrap {
  width: 100%;
  height: 100%;
}
.mv_slide {
  width: 100%;
  height: 100%;
}
.mv_slide div {
  width: 100%;
  height: 100%;
  background: url(../../../public/mv_img_ex.png) no-repeat center/contain;
}

/* main */
main {
  width: 358px;
}
/* info */
.cafe_info {
  width: 100%;
  height: 90px;
  margin: 15px 16px 26px;
}
  /* cafe-name */
  .cafe_name {
    width: 100%;
    height: 20px;
    line-height: 20px;
  }
  .cafe_name h3 {
    float: left;
    margin-right: 10px;
    font-size: 24px;
    line-height: 20px;
  }
  .cafe_name p {
    display: block;
    float: left;
    font-size: 12px;
    color: #3478F5;
    ;
  }
  .comment {
    float: right;
    width: 20.86px;
    height: 20.83px;
  }
  .comment a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../../public/comment_icon.png) no-repeat center;
  }
  /* cafe-mood */
  .cafe_mood {
    display: flex;
    width: 100%;
  }
  .cafe_mood div {
    flex-wrap: wrap;
    width: 78px;
    height: 34px;
    margin: 9px 4px 7px 0;
    line-height: 34px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 12px;
  }
  /* cafe-address */
  .cafe_address {
    display: flex;
    width: 100%;
  }
  .cafe_address span {
    display: block;
    width: 14px;
    height: 16px;
    background: url(../../../public/map_pin.png) no-repeat top 0 left 0/cover;
  }
  .cafe_address p {
    display: block;
    width: 344px;
    margin-left: 4px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
  }

/* menu */
.cafe_menu {
  position: relative;
  width: 100%;
  height: 236px;
  margin: 0 16px 40px;
}
.cafe_menu h3 {
  margin-bottom: 20px;
  font-family: 'Pretendard-Bold';
  font-size: 20px;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu_list li {
  width: 50%;
  margin-bottom: 12px;
  line-height: 20px;
}
.menu_list li p {
  font-size: 16px;
  margin-bottom: 4px;
}
.menu_list li b {
  font-size: 16px;
  font-family: 'Pretendard-Bold';
}
.more_menu {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.more_menu p {
  display: block;
  float: left;
  margin-right: 2px;
  font-size: 14px;
  font-family: 'Pretendard-Bold';
}
.more_menu span {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url(../../../public/bottom_arrow.png) no-repeat left 0px top -2px/contain;
}

/* facility */
.cafe_facility {
  position: relative;
  width: 100%;
  height: 170px;
  margin: 0 16px 40px;
}
.cafe_facility h3 {
  margin-bottom: 20px;
  font-family: 'Pretendard-Bold';
  font-size: 20px;
}
.facility_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.facility_list li {
  width: 25%;
  margin-bottom: 10px;
  line-height: 20px;
}
.facility_list li div {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background: #f0f0f0;
}
.facility_list li p {
  display: block;
  width: 60px;
  text-align: center;
  font-size: 16px;
}

/* review */
.review {
  width: 100%;
  margin: 0 16px 40px;
}
.review_create {
  width: 100%;
}
.review_create h3 {
  margin-bottom: 13px;
  font-family: 'Pretendard-Bold';
  font-size: 16px;
}
.review_create input {
  width: 100%;
  height: 40px;
  margin-bottom: 13px;
  padding: 10px;
  border-radius: 4px;
  background: #efefef;
}
.review_create input::placeholder {
  color: #a1a1a1;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
}
.review_list {
  width: 100%;
}
.review_list li {
  width: 100%;
  height: 110px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dadada;
}
.list_top {
  width: 100%;
  height: 20px;
  margin-bottom: 16px;
}
.text_box {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.list_top h4 {
  float: left;
  font-family: 'Pretendard-Bold';
  font-size: 16px;
}
.list_top b {
  float: right;
  font-family: 'Pretendard-Regular';
  font-size: 12px;
}
.review_list li p {
  display: block;
  width: 100%;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical;
}
.review_list li button {
  float: right;
  margin-bottom: 10px;
  font-family: 'Pretendard-Bold';
  font-size: 12px;
}
.review_list li:nth-of-type(3) {
  height: auto;
}
.review_list li:nth-of-type(3) p {
  overflow-y: visible;
  display: inline;
}
.go_top {
  float: right;
  width: 50px;
  height: 50px;
  margin-bottom: 11px;
  background: url(../../../public/go_up.png);
}